.idea
/A2/A2_Part1_Reference_200.png
/A2/A2_Part1_Reference_1000.png
/A2/Part3/__MACOSX/datasets/._cartPole_mix_0.2_0.pkl
/A2/Part3/__MACOSX/datasets/._cartPole_mix_0.4_0.pkl
/A2/Part3/__MACOSX/datasets/._cartPole_pure_0.0_0.pkl
/A2/Part3/__MACOSX/datasets/._cartPole_random_0.0_0.pkl
/A2/Part3/__MACOSX/._datasets
/A2/Part3/__MACOSX/datasets/._halfCheetah_mix_0.2_0.pkl
/A2/Part3/__MACOSX/datasets/._halfCheetah_mix_0.4_0.pkl
/A2/Part3/__MACOSX/datasets/._halfCheetah_pure_0.0_0.pkl
/A2/Part3/__MACOSX/datasets/._halfCheetah_random_0.0_0.pkl
/A2/Part3/__MACOSX/datasets/._mountainCar_mix_0.2_0.pkl
/A2/Part3/__MACOSX/datasets/._mountainCar_mix_0.4_0.pkl
/A2/Part3/__MACOSX/datasets/._mountainCar_pure_0.0_0.pkl
/A2/Part3/__MACOSX/datasets/._mountainCar_random_0.0_0.pkl
/A2/Part3/datasets/cartPole_mix_0.2_0.pkl
/A2/Part3/datasets/cartPole_mix_0.4_0.pkl
/A2/Part3/datasets/cartPole_pure_0.0_0.pkl
/A2/Part3/datasets/cartPole_random_0.0_0.pkl
/A2/Part3/cs885a2p3_sk.zip
/A2/Part3/datasets.zip
/A2/Part3/datasets/halfCheetah_mix_0.2_0.pkl
/A2/Part3/datasets/halfCheetah_mix_0.4_0.pkl
/A2/Part3/datasets/halfCheetah_pure_0.0_0.pkl
/A2/Part3/datasets/halfCheetah_random_0.0_0.pkl
/A2/Part3/datasets/mountainCar_mix_0.2_0.pkl
/A2/Part3/datasets/mountainCar_mix_0.4_0.pkl
/A2/Part3/datasets/mountainCar_pure_0.0_0.pkl
/A2/Part3/datasets/mountainCar_random_0.0_0.pkl
/A3/part1/Figure_1.png
/A3/part1/ppopenalty.png
/A3/part2/DQN.png
